body{ 
    border: 5px solid black;
   
    margin: 1px;
}
.heading{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}
.outerframe{
   height: 600px;
    display: flex;
   flex-direction: row;
   
}

.box{
  
    width: 32%;
    margin: 0.5em;
    background-color: orange;
   
}
.a{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.b{ text-align: center;
    display: flex;
    flex-direction: row;
}

.c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.a_upper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.c_upper,.c_lower{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.inner{
    margin: 1em;
    background-color: rgb(24, 212, 218); 
}
.b4,.b5{
    width: 50%;
    padding: 1rem;
}
.b1{
    margin-left: 0px;
width: 50%;

}
.b2{
    margin-right: 0px;
    width: 50%;
}
.b3{
    width:100%;
}
.first{
    width: 50%;
    margin-left: 1em;
    margin-top: 1em;
    background-color: rgb(24, 212, 218);
}
.upper_right_img,.lower_left_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.second{
    width: 40%;
    padding-top: 5em;
    padding-right: 3em;
    padding-bottom: 0em;
    padding-left: 1em;
    
}
.third{
    width: 40%;
    padding-top: 1em;
    padding-right: 0em;
    padding-left: 3em;
    padding-bottom: 5em;
   
}
.fourth{
    width: 50%;
    margin: 1em;
    background-color: rgb(24, 212, 218);
}
a{
    text-decoration: none;
}
.button
{    margin-right: 20px;
    margin-bottom: 20px;
    position: fixed;
    bottom: 0px;
    right: 0px;

}
.bottom_button{
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1.5rem;
    background-color: blue;
    color: white;
} 
@media (max-width: 768px){
    .body{
        height: 2000px;
    }
    .heading{
        font-size: 2rem;
    }
    .outerframe{
        
        flex-wrap: wrap;
    }
    .box{
       
        height: 600px;
        width: 100%;
    }
    .b{ 
     flex-wrap: wrap;
        
       
    }
    .b4,.b5{
      
        width: 100%;
    }
    .b5{
        padding-top: 5rem;
    }

    .second,.third{
        width: 43%;
    }
}