body {
    margin: 0px;
    padding: 10px;
 border: 3px solid blue;


}
/* .Main_Upper_layout{
    text-align: center;
} */
.main_img{
    height: 700px;
    width: 100%;
    background-image: url("../images/pexels-oleg-magni-1005638.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    object-fit:cover;
}
.text{
    font-size: 20px;
    width: 100%;
    background-image: url("../images/pexels-emirkhan-bal-953862.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    object-fit:cover;
}
.logo{ text-align: center;
    width: 6%;
    height: 12%;
    border: 1px solid black;
     font-family:cursive;
    font-size: 20px;
    background-color: rgb(35, 89, 160);
  color:azure;
  border-radius: 60px;
  contain: content;
}

.navigation{
    align-content:center;
    border: 1px solid black;
  padding: 20px;
    text-align:end;
    padding: 10px;
    font-size:100%;

}
#contact{
    background-color: turquoise;
}
.contact_part{
    font-size: 2rem;
    margin-left: 42%;
    margin-bottom: 10px;
}
.pair{
    margin-left: 40%;
    margin-bottom: 10px;
}
