body { 
 border: 3px solid blue;
 background-image: url("../images/pexels-emirkhan-bal-953862.jpg");
 background-repeat: no-repeat;
 background-size: contain;

 object-fit: fill;
}
.Main_Upper_layout{
    text-align:center;
}

h2{ font-family:cursive;
    font-size: 30px;
  color:#fc038c;
}
span >a{
    font-size:25px;

}


/* div > p{
    color:rgb(255,255,0);
    background-color: red;
    font-size: 20px;
}
#abc{
    border-style: solid;
    margin: 120px;
}  */